/* src/components/AutomaticTable.css */

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.custom-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.dropdown-content button:hover {
    background-color: #ddd;
}